@charset "UTF-8";

/*main styles*/


body {
text-emphasis-color:rgb(235, 216, 250)
font-family: sans-serif;
background-image: url(https://images.fineartamerica.com/images-medium-large-5/italy-flag-vintage-distressed-finish-design-turnpike.jpg);


p{
  font-size: 4em;
}
/*nav styles*/
nav ul {
  text-decoration-color:rgb(198, 241, 247);
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  <style>}
